.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    border-radius: 20px;
    .footer__box{
        padding: 40px;
        overflow: hidden;
        .footer__title{
        display: flex;
        align-items: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 20px;
        .text{
            padding-left: 10px;
        }
        &.footer__title--four{
            color: #485258;
            padding-top: 30px;
        }
        &.footer__title--five{
            padding-top: 30px;
        }
        }
        .footer__lists{
            padding-bottom: 30px;
        }
    }
    .footer__box--one{
        background-color: #FB896B;
        padding: 40px;
    }
    .footer__box--two{
        background-color: #FB6B6B;
    }
    .footer__box--three{
        background-color: #F1A864;

    }
    .footer__box--four{
        background-color: #FBD36B;
    }
    .footer__box--five{
        background-color: #485258;
        grid-column: 2/4;
        .footer__text{
            padding: 20px 0;
        }
        .footer--btn {
            a{
            color: #485258;
        }
    }
    }
    
}