.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
    border-radius: 20px;
    .footer__box{
        padding: 40px;
        overflow: hidden;
        .footer__title{
        display: flex;
        align-items: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        color: #fff;
        padding-top: 100px;
        padding-bottom: 20px;
            .text{
                padding-left: 10px;
            }
            &.footer__title--four{
                color: #485258;
                padding-top: 30px;
            }
            &.footer__title--five{
                padding-top: 30px;
            }
        }
        .footer__lists{
            padding-bottom: 30px;
        }
        &--one{
            background-color: #FB896B;
            padding: 40px;
        }
        &--two{
            background-color: #FB6B6B;
        }
        &--three{
            background-color: #F1A864;

        }
        &--four{
            background-color: #FBD36B;
        }
        &--five{
            background-color: #485258;
            grid-column: 2/4;
            .footer__text{
                padding: 20px 0;
            }
            .footer--btn {
                background-color: #fff;
                color: #485258;
            }
        }
    }
    
    
}